[submodule "packages/eth-time-contracts/lib/ds-test"]
	path = packages/eth-time-contracts/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "packages/eth-time-contracts/lib/solmate"]
	path = packages/eth-time-contracts/lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "packages/eth-time-contracts/lib/base64-sol"]
	path = packages/eth-time-contracts/lib/base64-sol
	url = https://github.com/Brechtpd/base64
[submodule "packages/eth-time-contracts/lib/openzeppelin-contracts"]
	path = packages/eth-time-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/eth-time-contracts/lib/BokkyPooBahsDateTimeLibrary"]
	path = packages/eth-time-contracts/lib/BokkyPooBahsDateTimeLibrary
	url = https://github.com/bokkypoobah/BokkyPooBahsDateTimeLibrary
